.league_info{
    margin:10px;
    padding:10px;
    color:#000;
    background: #fff;
    width: 265px;
    height: 240px;
    text-align: center;
}
.league_info h4{
    font-weight: 600;
    margin-top:30px;
}
.league_info p{}
.league_info button{
    color:#fff;
    border:none;
    padding:3px 20px;
    margin-top: 20px;
}
.league_info button a{
    color:#fff;
    text-decoration: none;
}
.font_icon{
    padding-left: 5px;
    font-size: 20px;
    padding-top: 5px;
}

/* responsive */


@media (min-width: 991px) and (max-width:1200px){
    .container{max-width:970px;}
    .league_info{
        width: 210px;
        height: 210px
    }
}
@media (min-width: 767px) and (max-width:991px){
    .container{max-width:750px;}
    .league_info{
        width: 220px;
        height: 220px;
    }
}
@media only screen and (min-width: 479px) and (max-width:767px){
    .container{max-width:450px;}
    .league_info{
        width: 220px;
        height: 220px;
    }
}
@media only screen and (max-width:479px){
    .container{max-width:300px;}
    .league_info{
        width: 220px;
        height: 220px;
    }
}